<% if (typeof errors != 'undefined'){%>
    <% for (error in errors){ %>
        <%if (errors[error] !='') {%>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">            
            <%= errors[error] %>  
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>         
        </div>
        <% }; %>  
    <% }; %> 
<% } %> 