<!DOCTYPE html>
<html lang="en">
  <body>
    <% include ./partials/header %>
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
      <div class="container-fluid">
        <ul class="breadcrumb">          
          <h5>
            Forgot to add something to your cart? Shop around then come back to pay!
          </h5>
        </ul>
      </div>
    </div>
    <!-- Breadcrumb End -->
    <% include ./partials/footer %>
  </body>
</html>
